:host {
  display: flex;
  width: 205px;
  border: 0.5px solid;
  border-radius: 1px;
  padding: 5px;

  .patient-info-container{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .patient-info{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .top-user-info{
      display: flex;
      .name-and-age{
        display: flex;
        flex-wrap: wrap;
      }

      .full-name{
        padding-right: 5px;
      }
    }
    .bottom-user-info{
      display: flex;
      justify-content: space-between;
      .Male{
        color: blue;
      }
      .Female{
        color: orange;
      }
    }
  }

}
